.header {
  border-bottom: 1px solid var(--extra-border-color);
}

.header-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.page-nav {
  display: flex;
  align-items: center;
  column-gap: 90px;
}
.page-nav-list {
  display: flex;
  column-gap: 50px;
  padding-top: 32px;
}
.contact-list {
  display: flex;
}
.contact-mail {
  margin-left: auto;
  margin-right: 50px;
}
.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  padding-bottom: 25px;

  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-color);
  text-decoration: none;
}
.web {
  color: var(--accent-color);
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.link-current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin-top: 28px;
}

.portfolio-nav-link,
.studio-nav-link {
  color: var(--accent-color);
}
.header-icon {
  display: block;
  position: absolute;
  left: -28px;
  top: -1px;
  width: 18px;
  height: 18px;

  fill: var(--additional-text-color);
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail:hover .header-icon,
.contact-mail:focus .header-icon {
  fill: var(--accent-color);
}

.contact-tel:hover .header-icon,
.contact-tel:focus .header-icon {
  fill: var(--accent-color);
}

.contact-mail {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
  text-decoration: none;
  margin-top: 32px;
  margin-bottom: 32px;
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-tel {
  position: relative;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--additional-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}
